div{
        font-size:25px;
        border:2px;
        border-style:solid;
        margin:10px;
        padding:10px;
        height:200px;
        background-color:yellow;
        width:200px;
      }


      div#capa1{

        float: left;
        width: 100px;
        height: 100px;
        color: white;
        background-color: blue;

      }
      div#capa2{

        float: left;
        width: 100px;
        height: 100px;
        color: grey;
        background-color: black;}

      div#capa3{
        float: left;
        width: 100px;
        height: 100px;
        color: blue;
        background-color: red;




      }