@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');






body{
            padding: 0;
            margin: 0;
            font-family: 'Poppins', sans-serif;
            
            background-color: rgb(48, 46, 46);
            color: white;
            padding-top: 25vh;
        }
        .container{
            width: 400px;
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;
            background-color: rgb(22, 21, 21);
            border-radius: 15px;
            padding: 25px 10px;
            box-shadow: 0 0 15px rgb(80, 79, 79);
        }
        form{
            display: flex;
            flex-direction: column;
            width: 90%;
            
        }
        input{
            height: 40px;
            border-radius: 10px;
            border: none;
            outline: none;
            margin: 5px ;
            text-align: center;
            font-size: 18px;
            color: white;
            background-color: rgb(48, 46, 46);

        }
        .btns{
            margin: 15px auto;
        }


        button {
             padding: 1.3em 3em;
             font-size: 12px;
             text-transform: uppercase;
             letter-spacing: 2.5px;
             font-weight: 500;
             color: #000;
             background-color: #fff;
             border: none;
             border-radius: 45px;
             box-shadow: 0px 8px 15px rgb(8,8,8);
             transition: all 0.3s ease 0s;
             cursor: pointer;
             outline: none;
        }

        button:hover {
             background-color: #3c99dc;
             box-shadow: 0px 15px 20px rgb(60, 153, 220);
             color: #fff;
             transform: translateY(-7px);
        }

        button:active {
        transform: translateY(-1px);
        }
       

        .card{
            background:#3c99dc; 
            font-family:Poppins;
            font-size: 15px; 
            width:400px;
            height: 100px;
            border-radius:4px ;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 7px 0
                rgb(189,243,245);
            animation: rotate 5s;
                cubic-bazier (.54,.13,.30,.87);

        }

        @keyframes rotate{
            0%{transform:rotateY(0turn); }
            100%{transform: rotateY(10turn);}
        }


    
